.container{
    background-color: blue;
    width: 800px;
    height: 1000px;
    display: flex;
    
}
.orange{
    background-color: darkorange;
    display: flex;
    flex: 3;
width: 200px;
height: 200px;
margin: 5px;
}

.grisjaunebleuvertclair{
    display: flex;

   


}
.gris{
    background-color: rgb(121, 121, 121);
display: flex;
   height: 400px;
   width: 150px;
   position: absolute;
  bottom: 200px;
 right: 1050px;
}
.jaune{
background-color: yellow;
height: 100px;
width: 600px;
position: absolute;
top: 310px;
right: 420px;

}
.bleu{
background-color: aqua;
height: 100px;
width: 600px;
position: absolute;
top: 450px;
right: 420px;
}
.vertclair{
background-color: chartreuse;
height: 100px;
width: 600px;
position: absolute;
top: 590px;
right: 420px;
}
.verte{
    display: flex;
    background-color: chartreuse;
     flex: 3;
     margin: 5px;
    width: 790px;
    height: 200px;
    position: absolute;
    top: 750px;
    }