video{
    object-fit: cover;
    }
img{
object-fit:cover;
}
.text{
/* display: flex;
flex-wrap: nowrap; */
}
.bg-image{
background-size: cover;
background-position: center;
background-repeat: no-repeat;



}
