<<<<<<< HEAD
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
.bouton1{
color: black;
    padding: 20px 50px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight:bold;
}
.bouton1 {
    background-color: #ffffff; /* Couleur de fond du bouton */
    color: #000000; /* Couleur du texte */
    padding: 20px 50px; /* Espacement intérieur du bouton (haut/bas, gauche/droite) */
    margin: 0px 0px;
    border: none; /* Supprimer la bordure par défaut du bouton */
    border-radius: 0px; /* Coins arrondis */
    text-align: center; /* Centrer le texte horizontalement */
    text-decoration: none; /* Supprimer les soulignements du lien (si utilisé dans un lien) */
    display: inline-block; /* Faire en sorte que le bouton soit un élément en ligne (plutôt qu'en bloc) */
    font-size: 16px; /* Taille de la police */
    font-weight: bold;
}

.bouton1:hover {
    background-color: #ccc; /* Couleur de fond au survol */
}

.sidebar{
    background-color: #ffffff;  /*Couleur de fond blanche */
    text-align: center; /*Centrer le contenu horizontalement */
    padding: 0px 0; /* Espacement intérieur (haut/bas, gauche/droite) */
}
.bg1{
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    background-color:   transparent;
    width: 100%; /* Largeur de la div */
    height: 250px; /* Hauteur de la div */
    background-size: cover; /* Redimensionner l'image pour couvrir la zone */
    background-position: center; /* Centrer l'image horizontalement et verticalement */


}

.img1{
  position: relative;
  width: 100%;
height: 250px;
background-size: cover;
background-position: center center;
}
.img2{
    position: absolute; /* Permet de positionner cet élément par rapport au div parent */
    max-width: 100%;
}
.Abloc{
    background-color:transparent;
    display: flex;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 780px;
    height: 450px;
}

.Abloc1{
    background-color: #ccc;
    display: flex;
    width: 380px;
    position: relative; /* Permet d'ajuster les éléments enfants par rapport à cette div */
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    font-size: 15px;
}

.Abloc2{
    background-color: #ccc;
    display: flex;
    width: 380px;
    position: relative; /* Permet d'ajuster les éléments enfants par rapport à cette div */
}
.image-photo{
    position: absolute; /* Permet de positionner cet élément par rapport au div parent */
    max-width: 100%;
    height: 100%;
    background-size: cover;
}
.Bbloc{
    position: absolute;
    display: flex;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 450px;
}

.image-fond2{
    position: absolute; /* Permet d'ajuster les éléments enfants par rapport à cette div */
    width: 100%; /* Largeur de la div */
    background-size: cover; /* Redimensionner l'image de fond pour couvrir la div */
    background-position: center center; /* Centrer l'image de fond horizontalement et verticalement */
}

.Bbloc1{
    background-color: aqua;
    position: relative;
    display: flex;
    margin-top: 250px;
    margin-right: auto;
    margin-left: auto;
    width: 940px;
    height: 220px;
}
.Bbloc2{
    background-color: #ffbc2c;
    margin-top:2%;
    display: flex;
    width: 220px;
    height: 196px;
    position: relative; /* Permet d'ajuster les éléments enfants par rapport à cette div */
    text-align: center;
    padding-left: 3%;
}

.Bbloc2:hover{
    background-color: #8da881;
=======
    .body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    .bouton1{
    color: black;
        padding: 20px 50px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        font-weight:bold;
    }
    .bouton1 {
        background-color: #ffffff; 
        color: #000000; 
        padding: 20px 50px; 
        margin: 0px 0px;
        border: none; 
        border-radius: 0px; 
        text-align: center; 
        text-decoration: none; 
        display: inline-block; 
        font-size: 16px; 
        font-weight: bold;
    }
    
    .bouton1:hover {
        background-color: #ccc; 
    }
    
    .sidebar{
        background-color: #ffffff; 
        text-align: center; 
        padding: 0px 0; 
    }
    .bg1{
        display: flex;
        justify-content: center; 
        align-items: center; 
        background-color:   transparent;
        width: 100%; 
        height: 250px; 
        background-size: cover; 
        background-position: center; 
    
    
    }
    .img1{
      position: relative;
      width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center center;
    }
    .img2{
        position: absolute; 
        max-width: 100%;
    }
    .Abloc{
        background-color:transparent;
        display: flex;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        width: 780px;
        height: 450px;
    }
    
    .Abloc1{
        background-color: #ccc;
        display: flex;
        width: 380px;
        position: relative; 
        text-align: center;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 3%;
        font-size: 15px;
    }
    
    .Abloc2{
        background-color: #ccc;
        display: flex;
        width: 380px;
        position: relative; 
    }
    .image-photo{
        position: absolute; 
        max-width: 100%;
        height: 100%;
        background-size: cover;
    }
    .Bbloc{
        position: absolute;
        display: flex;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        height: 450px;
        justify-content: center;
        
    }
.Bbloc1 {
    position: absolute;
    width: 32%; /* Largeur de la div conteneur */
    height: 200px; /* Hauteur de la div conteneur */
    display: flex; /* Utilisation du modèle de boîte flexible pour centrer le contenu */
    justify-content: center; /* Centre horizontalement le contenu */
    align-items: center; /* Centre verticalement le contenu */
    background-color: #ccc; /* Couleur de fond de la div conteneur */
    padding-bottom: 200px;
    line-height: 1.5;
    top: 10px;
}

.Bbloc1a {
    text-align: center; /* Centre le texte horizontalement à l'intérieur de la div */
    background-color: transparent; /* Couleur de fond de la div texte-centre */
    padding: 20px; /* Espacement interne pour le texte */
}

.Bbloc2a:hover{
    background-color: #8da881;
}
.Bbloc2{
    position: absolute;
    text-align: center;
    margin-top: 200px;
}
.Bbloc2a {
    position: relative;
    width: 220px;
    height: 196px;
    background-color: #ffbc2c;
    margin-right: 10px; /* Espacement horizontal */
    margin-bottom: 10px; /* Espacement vertical */
    display: inline-block; /* Pour afficher les blocs en ligne */
    padding: 5px;
    text-align: center;
}

/* Supprimer la marge de droite du dernier bloc */
.Bbloc2a:last-child {
    margin-right: 0;
}

/* Met le texte p2 en survolage blanc */
p2:hover {
    background-color: white;
/}
 .Bbloc3{
    background-color: #fc0000;
   position: absolute;
height: 440px;
top: 1300px;
width: 100%;
text-align: center;
} 
.Cblock{

height: 450px;
width: 100%;
text-align: center;
display: flex;

}

.Abloc4{

position: absolute;
left: 190px;
height: 400px;
width: 400px;
margin-left: 16%;

}
.Abloc5{
position: absolute;
height: 400px;
width: 400px;
margin-left: 52%;
}
.Cblock1{
background-color: aqua;
width: 100%;
position: absolute;
top: 1740px;
height: 600px;
text-align: center;
justify-content: center;
}
.Cblock2{
width: 40%;
margin-left: 28%;
}
.Cblock3{

    text-align: center; /* Centre le texte horizontalement à l'intérieur de la div */
    background-color: transparent; /* Couleur de fond de la div texte-centre */
    padding: 20px; /* Espacement interne pour le texte */
}
.Cblocka1{
/* display: inline-block; */

}
.img4{
    object-fit: cover;
height: 360px;
width: 218px;
position: absolute;
left: 400px;
bottom: px;

}
.img5{
object-fit: cover;
height: 360px;
width: 218px;

}
.img6{
    object-fit: cover;
    height: 360px;
    width: 218px;

}
.img7{
    object-fit: cover;
    height: 360px;
    width: 218px;
    }
    







  
    

 








