.p1{
height: 100px;
width: 100px;
background-color: blue;
padding-top: 40px;
}
.p2{
height: 50px;
width: 20px;
background-color: yellow;
margin-left: 20px;
}


.b1{
height: 200px;
width: 200px;
margin-left: 50px;
background-color: brown;
margin-top: 300px;
}.b2